<h1 align="center">מה קורה פה?!</h1>
	
<h3> מה נהיה פה?</h3>

<p>השרת העיוור מוקדש לביקורות והמלצות מוזיקליות שתורמים גולשים אוהבי מוסיקה. האתר נוסד במשהו כמו יוני 2001, ומאז מתעדכן בביקורת חדשה מדי יומיים, פחות או יותר.</p>

<h3> מהן מטרות האתר?</h3>

<p>שתי מטרות עיקריות: האחת - הקמת מאגר ידע מוזיקלי נרחב ומגוון ככל הניתן, לשימוש הגולשים חובבי המוזיקה ודוברי העברית. השנייה - מתן במה למוזיקה טובה מהקצוות היותר נידחים של השוליים, לצורך הרחבת האופקים ואהבת האיזוטריה כאידאולוגיה. לייבלים ישראלים עצמאיים זוכים ליחס מיוחד. נשמע מקושקש, אבל זה אמיתי. </p>

<h3> רגע, אבל איפה הכסף?</h3>

</p>איזה כסף?
האתר כולו חינמי לחלוטין: אף אחד מהגולשים לא נדרש לשלם ולו אגורה שחוקה על השימוש וההשתתפות בו, וגם צוות האתר, המנהלים והכותבים לא מקבלים ולו שקל על תרומתם לאתר. להיפך, לפעמים הם מפסידים קצת.
כולנו פה מאהבה למוזיקה, ואת הכסף אנא קחו למקום אחר. </p>

<h3> מי יכול לכתוב לשרת העיוור?</h3>

<p>כל מי שטוען לזוג אונות פעילות ואוזן אחת או יותר, מסוגל להתנסח בעברית בבהירות מינימלית, וניחן באהבה למוזיקה. בכל זאת, אנו שומרים לעצמנו את הזכות לדחות בנימוס ביקורות שלדעתנו לא עומדות בקריטריונים, אבל מתחייבים להרגיש עם זה רע מאוד. </p>

<h3> על אילו אלבומים אפשר לכתוב לשרת העיוור?</h3>

<p>באופן כללי, העולם המוזיקלי של השרת מורכב ממוסיקה שנעשתה אי שם החל משנות החמישים למאה הקודמת ועד העתיד הנראה לעין, שקשורה איכשהו לרוק, פופ, שורשיהם ומוזיקה בת-זמננו על כל נגזרותיה, כולל אלה שכבר נדדו לפלנטות שונות לחלוטין, כמו היפ-הופ ומוזיקה שחורה, אלקטרוניקה, מוסיקה תעשייתית, פיוז'ן אינסטרומנטלי, וכו'. אבל זה לא חקוק בסלע - אם מישהו יכתוב על משהו משנות ה-20, לא נדחה את הביקורת, גם אם נטיל עליו למצוא עטיפה ולצחצח את נעלינו. מאידך גיסא, למוזיקה קלאסית, למשל, זה לא ממש המקום. בקיצור, מסובך, אבל אפשר להציץ בביקורות שבאתר ולקבל רושם על המנעד, ותמיד גם אפשר לשאול אם משהו מתאים, בד''כ התשובה תהיה חיובית ואוהדת, ואם לא אז מכַוונת. החשיבות בעיקרה היא על הכתיבה והעניין שבה, כאשר אנחנו מקדמים כתיבה קולחת, עניינית, מנומקת ומקורית. גם האלבום הכי אזוטרי בעולם יכול לקבל ביקורת נדושה וחסרת חידוש, בעוד שכותב מוצלח יוכל למצוא תובנות ועניין גם במוזיקה שנחשבת נדושה יחסית או לעוסה. אך כמו שנכתב - עדיף תמיד לפנות לעצמאי ולאיזוטרי ולעניין את הגולשים במוזיקה שסביר שלא היו נחשפים אליה בקומות אחרים, "מקובלים" יותר. </p>

<h3> על אילו אלבומים אי-אפשר לכתוב לשרת העיוור? </h3>

<p>אנחנו נוטים לפלורליזם מוזיקלי נרחב, אך לא מוחלט. החלוקה הבסיסית, אך (יש להודות) מעט מופשטת וניתנת לפרשנויות רבות, היא למוזיקה שנוצרה למען המוזיקה, לעומת כזאת שנוצרה כמעטפת למתקפת יחסי ציבור כוללת, שאינה בהכרח תלויית חיבה לאמנות. מה שזה אומר, בעצם, הוא שמי שרוצה לכתוב, אמור לדעת בעצמו אילו חומרים מתאימים לרוח האתר, ואילו לא. חלק לא ידעו, ובכל זאת פירסמנו את הביקורות שלהם כי הייתה מספיק מצחיקה, כנראה, אבל לא תמיד זה כך. המתלבטים מוזמנים לשאול במייל, או מעל גבי הפורום. </p>

<h3> שלחתי לכם ביקורת - מתי אוכל כבר להראות אותה לבחורות, כדי שיסכימו לשכב איתי?</h3>

<p>רגע, רגע. לפני שאנחנו מעלים את הביקורת, אנחנו מנסים לראות האם היא אכן מוכנה לכך – האם היא ארוכה מספיק, מובנית מספיק, האם לא חסרים בה פרטים שנראים לנו כחיוניים, האם ההגהה טובה, פסקה אחת מובילה לאחרת וכדומה. אם יש צורך בתיקונים קלים שאנחנו יכולים לבצע בעצמנו, אז אין שום בעיה והביקורת תעלה. אם יש קשיים רציניים יותר, כמו משפטים סתומים למשל, או שהביקורת איננה אינפורמטיבית מספיק, נשלח אותה ככל הנראה לכותב עם הצעות לשיפור. במידה והשולח מוכן להתייחס אליהן, ההתכתבות תימשך, כשאנחנו מוכנים לעשות את מירב המאמצים בכדי שהביקורת תתאים לאתר. אין זה אומר, כמובן, שכל ביקורת שנשלחת אכן תעלה, ולצערנו קורה לא מעט פעמים שאנחנו מסרבים לכך.

זמן עליית הביקורת תלוי בעיקר בשיקולים עריכתיים. אם זאת ביקורת על אלבום חדש (ותגידו לנו, בבקשה, שהוא חדש!), סביר להניח שהיא תהיה און-ליין תוך שלושה שבועות או אפילו פחות, במיוחד אם מדובר באלבום ישראלי ועצמאי. אם מדובר בחומר על-זמני, יכולים לעבור גם חודשיים, אבל זה בדרך כלל קורה, כאמור, תוך שלושה שבועות מקסימום. בכל מקרה, לא כדאי לבנות על בחורות. הן מאוד הפכפכות, ואם הן כבר רציניות תמצאו את עצמכם מפרנסים שבט ומתקנים אינסטלציה, ללא פנאי לכתיבת ביקורות. בעצם, אם אתם סופגים למערכת וייבז נשיים על בסיס יומיומי, מה אתם צריכים מוזיקה בכלל?
אם עבר רף הזמן המצוין לעיל, אתם בהחלט מוזמנים לנג'ס, רצוי, כי לפעמים דברים נשמטים לנו מהראש, אבל נא לא להטריד לפני כן.</p>

<h3> שלחתי ביקורת, אמרתם שקיבלתם, אבל מאז עברו כבר איזה חודשיים ולא העליתם אותה, וגם לא כתבתם לי כלום בעניין. חארות שכמוכם!</h3>

<p>יש לכך כמה סיבות. הנפוצה ביותר היא שפשוט לא כתבתם את שם הכותב שלכם בתוך מסמך הביקורת. ככה אנחנו גם לא יכולים להעלות אותה, וגם לא יכולים לענות לכם. לכן תמיד כתבו שם כותב ואימייל בתוך המסמך. סיבות אפשריות אחרות הן שהביקורת לא מתאימה לנו ושכחנו לשלוח לכם אותה לשכתוב, או שפשוט... שכחנו. 

תמיד טוב לנדנד לנו אחרי כמה זמן, גם אנחנו טועים, ומספיק, אלוהים יודעת. <p>

<h3> מחקתם לי את התגובה, זונות! ואז כשקיללתי אתכם על זה בפורום - מחקתם גם את ההודעה שם! מה הקטע שלכם, יא חארות?!</h3>

<p>זה בדיוק הקטע שלנו, אנחנו לא אוהבים שמקללים. אותנו, או את אחרים.
כללי הדיון שלנו מעטים ופשוטים, ומי שלא יעמוד בהם, הודעותיו פשוט יימחקו:
1. אנחנו לא סובלים התקפות אישיות. לא אהבתם את הביקורת? סבבה, תכתבו על הביקורת, והשתדלו לתת ביקורת בונה ממנה הכותב יוכל ללמוד ולהשתפר, לא לחשוב ''שיט, אני ממש מחורבן''. אל תתקפו את הכותב (או המגיב לו אתם מגיבים) אישית. בשביל זה יש אימייל.
2. שמרו על הפה. אם אתם עצבניים, ספרו עד עשר לפני שתבחרו את המילים שלכם. לא נתעצבן אם מישהו יכתוב ''חרא של דיסק'' או ''זמר מהתחת'', אבל אם תכתבו את זה כלפי כותבים/מגיבים אחרים, או שתזרקו רפש, תימחקו מהר.
3. בלי פוליטיקה לשם פוליטיקה. אנחנו לא מדברים פה על פוליטיקה, לא מתווכחים על כיבוש ולא על הממשלה. בשביל זה יש פורומים אחרים ואתרים אחרים. אם הדיון הפוליטי הוא חלק ממהות הדיון במוזיקה - כנראה שיש מקום לכך, אך בטוב טעם, לא למטרות פרופגנדה.
4. זה לא משנה ''מי התחיל''. אם מישהו הפר את אחד מהכללים הנ''ל, למשל על ידי קללת אחותכם, והחלטתם לקלל בחזרה, אז נתייחס אליכם באותו אופן כמו שהתייחסנו למעליב המקורי. לכן אם נתקלתם בהפרה של הכללים שתו כוס מים קרים ודברו איתנו כך שנוכל לטפל בעניין בהקדם האפשרי.
5. הפורום ומערכת התגובות הן לא מקום לכתיבת בלוגים פרטיים, אלא הם נועדו למטרות דיון. לכן, נסו להימנע מפרסום והאדרה עצמיים. אגב פרסום - כל תוכן שכולל בתוכו לינק לעסק או כל מוסד לעשיית רווח אחר יימחק מיידית. אנחנו לא מתכוונים להרוויח מהכתיבה של אף אחד, ולא רוצים שבתורנו ירוויחו על גבינו או שיקשרו אותנו לעסקים ואתרים שעשויים להיות מפוקפקים. 

במקרה של מחיקת תגובות שמפרות את הכללים נעשה את מיטב מאמצינו ליצור קשר עם האנשים המדוברים ולהסביר להם את סיבת המחיקה ו/או לפרסם אותה במקום הת'רד המחוק. אם הסיבה לא מובנת או שהיא נראית בלתי הוגנת, דברו איתנו. כמובן שהודעות ספאם, הודעות שמוקמו לא נכון בפורום הופדעות, הודעות שנשלחו בטעות והתבקשנו למחוק אותן, וכד', ימחקו ללא מתן סיבה.

האתר אמור להיות מקום נעים ופתוח לכל אדם שחפץ להשתתף בו, לא נסבול ניסיונות לחבל בקהילה. על כן במקרים חריגים שבהם אותם האנשים יפרו שוב ושוב את כללי הדיון תוך התעלמות מאזהרותינו, נשקול להשעות ואף למחוק את היוזרים שלהם, כלומר הם יאבדו את הזכות להשתתף בשרת. בבקשה אל תגררו אותנו למצב מגעיל שכזה.</p>

<h3> מה עם דיסקים חינם, פרומואים?</h3>

<p>הפרומו הוא פרויקט מתמשך, והוא הזדמנות שלנו לצ'פר קצת את הכותבים המנוסים בתמורה לכתיבת ביקורת. בפורום הראשי מתעדכנת מדי פעם רשימה של אלבומים אותם קיבלנו, והם ממתינים לכותבים שייקחו אותם ויכתבו עליהם ביקורת כנה. ככה, כמו "מקצוענים". כדאי מאוד לציין שבזכות הפרויקט הזה, הרבה אמנים זכו לסיקור שלא קיבלו כמעט בשום מקום אחר. בכל מקרה, למעוניינים אפשר לפנות ל- blind.editor@gmail.com ונסדר אתכם. </p>

<h3> התחלתי לכתוב ביקורת אבל אני לא יודע מתי אסיים. אפשר לשמור לי את האלבום הזה?</h3>

<p>כן. אם התחלתם ביקורת על אלבום מסוים, או שאתם מתכוונים להתחיל בקרוב ומפחדים שמישהו יכתוב על אותו אלבום לפניכם, שלחו מייל ובקשו לשמור את האלבום הזה. הזכות הזו שמורה רק לכותבים שכבר פרסמו אצלנו, לא לכותבים שזו ביקורתם הראשונה.
וגם: אם אנחנו שומרים לכם אלבום, זה לא אומר שאתם יכולים לנוח על זרי הדפנה. האלבום יישמר לחודש, ואם לא תשלחו עד אז את הביקורת, הוא לא יהיה שמור לכם יותר. כך שבקשה לשמור אלבום היא גם התחייבות לכתוב עליו בקרוב.</p>

<h3> מי עומד מאחורי האתר?</h3>

<p>את האתר הגה והקים איש יקר, וחברים יקרים עזרו בצדדים הטכניים. בסוף ספטמבר 2002 עבר השרביט מגוש דן לאיזה מוטרף ירושלמי, הידוע כשרת ג'וניור.
*תודה מיוחדת לאדם שתכנת, עיצב, דחף והביא אותנו עד הלום כשהוא נותן לנו לב חי ופועם לעבוד איתו (מלבד זה שהכבוד על בניית המערכת הראשונה על שלל מרעיתה שייך לו) - דביר וולק רבותיי, אתם עוד תשמעו עליו.
*תודה רבה גם לשני קדר, שעיצבה לנו את החיים בשתי ידיה. או יותר נכון, לוגואים ובאנרים אינספור, ועל כך תודתנו נתונה לה לנצח נצחים.
*ותודה ענקית מכל הלב לבועז ולקורקי.נט, שאירחו אותנו בחינם-אין-כסף וסבלו את כל הבלגן שלנו במשך 4 שנים ומשהו. נדיר למצוא בעל בית שיסבול דיירים ששומעים מוזיקה בפול ווליום כל היום וכל הלילה, ואפילו לא משלמים שכר דירה, ועל כך מגיעה להם כל התודה שבעולם.

נכון להיום, האנשים הטובים שמגדלים יבלות בידיים כדי שתוכלו לקרוא ביקורות, הם:

עורך ראשי: דורון ק
עורך משנה: בן שמואלי
כל הצד הטכני, על צבעיו השונים: מולטימני, איש טוב עם מעט מדי זמן. אוהב לשמור על ארשת מסתורית ולכן מרכיב משקפי שמש גם בלילה.
עורכי המגזין: אוריון, אופק, אבי בוחבוט
עורכים בדימוס: אחי רז, גדי ב, יאדו, גיאחה, עידו שחם, גארפילד, יובסט, פילפילון, מר בראונסטון, אופק

(חשוב לציין, כמובן, שאנחנו לא מקבלים על זה כסף. ולא דיסקים. ולא בחורות. וגם לא בחורים. ולא כרטיסים חינם להופעות ולא בקסטייג' פאסז, ולא תהילה ופרסום. אבל אם אתם רוצים להציע לנו אחד מהנ''ל, לא נגיד לא. נגיד בסדר)</p>

<h3> אז איך שולחים?</h3>

<p>בוחרים אלבום שיש משהו חכם או מעניין להגיד עליו, מקשיבים לו טוב כמה פעמים טובות, וכותבים כמה מאות מילים, 400 מינימום מוחלט, עדיף מעל. מסה היסטורית או וידוי אישי 1000 + גם יתקבלו בברכה, ועדיף בוורד. בסוף הביקורת כותבים (אם רוצים) את הציון שלכם לאלבום, בין 0 ל-100.
חשוב מאוד מאוד: יש לכתוב בגוף הביקורת את שם האמן, שם האלבום ושם הכותב! [ביקורות ללא שם כותב יזכו להתעלמות, וייתכן מאוד שלא נחזיר לכם מייל לספר על כך, ואז תיעלבו ותפסיקו לכתוב בשרת ותתחילו להציף את הפורומים בהודעות נאצה. אז אנא השתדלו לזכור]
אם יש סורק, ועטיפת האלבום לא נגישה בווב, כדאי לצרף את העטיפה באיכות מכובדת, 200 על 200 פיקסלים. 

כמו כן אתם מוזמנים להציע לנו כותרת, לינקים בגוף הביקורת ובצד הביקורת, וכל עצה העולה על רוחכם, אבל השיקול הסופי הוא שלנו, אם כי זכות ביטול הרשות לפרסם שמורה לכם.

אם זוהי ביקורת ראשונה שאתם שולחים לאתר, יש גם להוסיף אחריה:
1. שם כותב ואת הפרטים שתרצו שיופיעו בדף האישי שלכם. 
2. אם אתם רוצים שהאימייל שלכם יופיע ברבים. זה אמנם פתח אפשרי לספאמרים, אבל קורה לא מעט שקוראים מעוניינים להעניק פידבק אישי ואין להם איך. חבל, כך חושבים פה במערכת.
3. כמו כן אפשר להוסיף תמונה שבא לכם, אבל סביר מאוד שנשים לכם תמונה אחרת ללא ידיעתכם.

reviews@hasharat.co.il<p>


<h3> קווים מנחים/ עצות/ רעיונות בכתיבת ביקורת</h3>

<p>* אנחנו מאוד ליברלים ופלורליסטים, זה נכון, ושום סוג של ביקורת מהפכנית לא תפסל על הסף, ואפילו תתקבל בברכה. למרות זאת, יש מספר נקודות שכדאי לשמור עליהם כשבאים לכתוב ביקורת לאתר: <br>

1. לפני הכל והחשוב ביותר - אסור בתכלית האיסור לכתוב על אלבום, לפני ששמעתם אותו לפחות עשר פעמים. זה לא מוסרי ולא הוגן כלפי האלבום והקוראים גם יחד. <br>

2. אין לרשום ביקורת על אלבום שטרם יצא באופן רשמי. זה לא מוסרי וגם די מרושל.<br>

3. להשתדל לא לגרבץ בהשתפכויות, וגם לא לכתוב רפורטז'ה עיתונאית משמימה בלשון עורכי דין. אנחנו פה מאהבה גדולה למוזיקה, ומעמידים את עצמנו בפניה ובפני מה שהיא מבטאת, לא באים לבצע ספירות מלאי לאלבומים ולהתחיל לפרט איך הבס הופך נוקשה בדקה 1:32 ברצועה השמינית. עם זאת, אפשר להיות אישיים מאוד, ואפשר להיות סקירתיים מאוד, רק בטוב טעם ובאיכות. סופרלטיבים זו בעיה, נא להשתמש בחכמה... והסנדלר הולך יחף.
אנחנו מבקשים בכל לשון של בקשה לנסות להיות אובייקטיביים בביקורות. אמנם מתבקש לכתוב על האמנים האהובים, אבל אפילו להם יש פאדיחות. אנחנו לא רוצים להיות אתר המלצות, ונראה שזה מה שבדיוק קורה, כך שתמיד תינתן עדיפות לביקורות קוטלות או לא אוהדות (ואפשר לציין את זה כששולחים את הביקורת).
*יש לציין שאנחנו שומרים לעצמנו זכות לערוך את הביקורות כך שיהיו קריאות יותר. לפעמים זה גם אומר לקצץ פסקאות או משפטים, ולשנות ניסוחים כדי שיהיו תקינים לשונית. עם זאת, אף פעם לא נשנה את הטקסט שלכם כך שיגיד משהו שלא אמרתם. <br>

4. עדיף שלא לסקור בזה אחר זה את כל הקטעים באלבום, מפני שזה נוטה לעייף ולהוציא את הקורא מריכוז. במקום, כדאי לאזכר קטעים בולטים לטובה או לרעה באלבום, או לצד אבחנות רלוונטיות. מקרים חריגים יישקלו.<br>

5. אם זו הפעם הראשונה שהאמן מופיע בשרת, רצוי ביותר לפרט על הרקע שלו, בקצרה או באריכות, ולזרוק כמה נקודות ציון שיאפשרו לאלה שאינם מכירים אותו לדעת אם להתחיל לרייר. עכשיו משעלה האתר החדש, אפשר ואף רצוי לכתוב מלל קצר (לא יותר מ-100 מילה) על האמן, לעמוד האמן האישי שלו. יינתן קרדיט לכותב, כמובן. אם כבר נכתבו ביקורות על אמן זה או אחרים הקשורים אליו, רצוי לקרוא אותן בעצמכם. אולי תרצו להתכתב עימן בתוך הביקורת שלכם. <br>
6. אם מצרפים תמונות של האמן, או שקשורות לביקורת: אנא מכם, צרפו אותם כקבצי תמונות נפרדים, ולא כחלק ממסמך הוורד. <br>

7. כללי האחדה: <br>

-מוזיקה, ולא מוסיקה (שהרי מדובר בצאצאית של המילה 'מוזה') 
-אל תקצרו ואל תתעצלו. תכתבו 'על ידי' במקום ע''י, 'אחר כך' במקום אח''כ, וכן הלאה.
-האזנה, ולא שמיעה (לאלבום מאזינים, קולות שומעים)
-שמות תקליטים - לפחות בפעם הראשונה בקטע, בשפת המקור. אות ראשונה גדולה וללא גרשיים (לדוגמא: Revolver) 
-שמות הרכבים - לפחות בפעם הראשונה בקטע בשפת המקור. אות ראשונה גדולה וללא גרשיים (לדוגמא: Beatles). אם מדובר בזמר או זמרת, השתמשו לאורך הביקורת (אחרי האזכור הראשון של השם המלא) בשם המשפחה. הם לא חברים שלכם. אם הם כן חברים שלכם, אתם לא אמורים לכתוב עליהם ביקורות!
-שמות קטעים - תמיד בשפת המקור. אות ראשונה גדולה וללא גרשיים (לדוגמא: Tomorrow never knows) <br>

8. כדאי לקרוא ביקורות אחרות שנכתבו על אותו האלבום, ואפשר להיעזר בכך באתר כמו Metacritic שיכול להפנות אתכם להרבה מקורות מידע אפשריים, אבל חשוב מאוד להבדיל בין לקיחת מידע מן הכתיבה של אחרים לבין מושפעות ברמה שתוציא את כל המקוריות מזו שלכם. כדאי מאוד להיעזר גם באתרים של המוזיקאים עצמם, לצורך השלמת מידע או סתם בכדי להיכנס להם לראש. במקרים מסוימים, אפשר אפילו נסות ולהתכתב עם אותם האמנים בכדי לעמוד על נקודות שאף אחד אחר לא יוכל לכוון אתכם אליהן, כמו ההחלטות האמנותיות שלהם או הסיפורים שמאחורי השירים. במקרה של אמנים ישראליים, חלק גדול מהם אפילו יסייע בשמחה. <br>

9. מומלץ לחזור על הביקורת שכתבתם פעם או פעמיים לפני השליחה, ולחשוב האם זוהי ביקורת שאתם הייתם מעוניינים לקרוא לו מישהו אחר כתב אותה. זה יפה לכתוב את עצמנו, לכתוב לעצמנו זה כבר משהו אחר. <br>


חוץ מזה, ממש לא נבכה אם תיעזרו בעצות האלה לכתיבה נאה. הם לא חובה, אבל הם עוזרים. בעיקר הסעיפים מהם סובלים רבים מכותבי השרת: 7, 8, 12, 14, 20, 23, 32.<p>

<h3> זה נשמע לא פשוט בכלל. אני בטוח שבאתרים אחרים ובעיתונים לא צריכים לעבוד כל כך קשה בכדי לכתוב ביקורת!</h3>

<p>ואללה, יש מצב שאתה צודק, ואם כן, אז זה מצער מאוד. </p>

<h3> הממממ, מעניין, ומה עוד אני יכול לעשות כדי להשתתף בעשייה בשרת?</h3>

<p>ובכן, בין אם אתם כותבים בשרת ובין אם גולשים קבועים, אתם מוזמנים להשתתף כמעט בכל אספקט שלו: החל מפעילויות ברורות מאליהן כמו תגובות לביקורות ודיונים בפורום, דרך הצטרפות לצוות עריכת הביקורות ולתפקידים אחרים, ועד הצעת רעיונות לסקרים, רעיונות לפרויקטים, וכן הלאה וכן הלאה.
האתר הזה ניזון מהגולשים שלו, ולכן הרגישו חופשי לשלוח לנו מיילים ולספר לנו על רעיונות, בעיות, מחמאות, בעיות בחייכם האישיים (לא מבטיחים לעזור, אבל נקרא עד הסוף וכנראה נספר לכולם) וכן הלאה. </p>

<h3> אפשר לכתוב ביקורות רק על אלבומים? או רק על אלבומים חדשים?</h3>

<p>לא. למעשה, אפשר לכתוב על הופעות שהייתם בהן, סינגלים, אי פי'ז, אוספים, מארזים, הקלטות מהופעות, DVD או אלבומים כפולים, כל עוד זה נראה מעניין, כמובן. אנחנו מעודדים כתיבה על חומרים חדשים, אבל שמחים באותה המידה לקבל גם ביקורות על קלאסיקות, אלבומים שלא זכו לכבוד שלדעתכם ראוי לכם, האלבום הראשון שקניתם וכו' וכו'. </p>

<h3> מה מעמד זכויות היוצרים בשרת העיוור, למי שיך החומר שמפורסם בו?</h3>

<p>זכויות היוצרים שיכות לכותבים בשרת. הם יכולים לעשות ביצירותיהם מה שהם רוצים ולבקש לערוך שינויים כגון תיקונים תחביריים והסדרת עובדות שגויות.</p>

<h3> איפה השרת העיוור נמצא בכל הסיפור הזה?</h3>

<p>השרת מאגד תחתיו באופן חופשי את החומר של הכותבים ורשאי לפרסם אותו בכל פורמט שהוא במסגרת האתר, אם כעמודי HTML, PDF, ועוד. חומר כתוב כגון ביקורות וכתבות מגאזין עובר הגהה ועריכה על ידי צוות האתר. אם התוצאה אינה לרצונו של הכותב יש ליצור קשר עם אנשי הצוות הרלוונטיים. </p>

<h3> אני רוצה להסיר ביקורות שכתבתי, איך אני עושה את זה?</h3>

<p>תפנה אלינו ותציין את הסיבה להסרת הביקורות. הנימוק יאפשר לנו בשלב מאוחר יותר להחליט האם להעלות ביקורות חדשות שלך לאתר, אז כדאי לחשוב על כל העניין פעמיים. אל תשכחו שביקורות נמצאות בשרת בעיקר בשביל חובבי המוזיקה, הם אלו שיפגעו הכי חזק בעת הסרתם. </p>

<h3> אחרי כל דיני החוזים האלה, יש לכם גם משהו נורמלי להגיד?</h3>

<p>כן. סה''כ אנחנו פה בשבילכם, ואתם פה בשבילינו. כל מה שאנחנו מבקשים זה שתהיו הוגנים כלפי עצמכם וכלפי אחרים, ואל תשכחו להנות :)</p>

<h3> כתבתי ביקורת בבלוג שלי, או באתר אחר, האם יש אפשרות להעלות אותה גם כאן?</h3>

<p>בהחלט, כל עוד היא מתאימה לכללי הכתיבה שאותם ציינו. יאמר כי ביקורת שהופיעה בתחילה באתר מסחרי מקומה לא יהיה כאן. בכלל, אנחנו מעוניינים שביקורות תיזכנה לתפוצה רחבה, ואפשרי כמובן שכותב שפירסם כאן ביקורת שלו יפרסם אותה גם באתרים אחרים, לפי אותם הכללים.</p>
