<div class="alert alert-block fade in">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>ברוכים הבאים לשרת העיוור 2.0</strong>
  <p>
  האתר הוא פלטפורמה חדשה לשרת העיוור הקודם, השאיפה היא לייבא את כל הביקורות הישנות מהאתר הקודם לאתר זה, למרות שזהו תהליך ארוך ומדוקדק שעלול לקחת פרק זמן לא מבוטל. 
  בנוסף, במידה וכתבתם ביקורת חדשה שאתם מעוניים לפרסם, אנא שלחו אותה ל
  reviews at hasharat.co.il
  ונדאג שהיא תפורסם בהקדם. תודה!
</div>
<% include reviews %>
<script src="/socket.io/socket.io.js"></script>
<script>
  var index = <%= albums.length %>;
  var socket = io.connect(window.location.hostname, {'sync disconnect on unload':true});
  $(window).scroll(function() {
   if($(window).scrollTop() + $(window).height() > $(document).height() - 100) {
       socket.emit('fetch', {index: index});
	   index += 20;
   }
  });   
  socket.on('connect', function() {
    console.log('client connected');
  });
  socket.on('more', function (data) {
   var new_albums = jQuery.parseJSON(data);
   for (var i=0;i<new_albums.length;i++) {
    $("#ul").append('<li><div class="row-fluid span12"><div align="center"><a href="/reviews/'+new_albums[i].path+'"><div style="width:220px;height:300px;"><img src="/reviews/'+new_albums[i].path+'/cover.jpg"'+new_albums[i].album_cover+'" height="220" width="220"><h4 dir="ltr"> '+new_albums[i].album+'('+new_albums[i].year+')</h4><p dir="ltr"> '+new_albums[i].artist+' </p><a href="/writers/'+new_albums[i].reviewer+'" <p dir="ltr">By: '+new_albums[i].reviewer+' </p></a></div></a></div></div></li>');
	}	
  });		  	
</script>