<div class="alert alert-block fade in">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>ברוכים הבאים לשרת העיוור 2.0</strong>
  <p>
  כאן תמצאו את כל הביקורות הישנות של האתר הישן ובתקווה גם כמה חדשות. אם כתבתם ביקורת חדשה ואתם מעוניינים לפרסם אותה בבקשה שלחו אותה ל
  reviews at hasharat.co.il
</div>
<% include reviews %>