<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The Blind Janitor 2.0 | Music Reviews For the people, By the people</title>
    <meta name="description" content="The Blind Janitor 2.0 | Music Reviews For the people, By the people">
    <meta name="author" content="Ofer Moshaioff">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles -->
	<link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/bootstrap-rtl.min.css">	
	<style type="text/css">
	body {
		padding-top: 4%;
		padding-bottom: 2%;
		padding-left: 15%;
		padding-right: 15%;
	}
	</style>
	<link rel="stylesheet" href="/css/bootstrap-responsive-rtl.min.css">
  </head>
  <body dir="rtl">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">השרת העיוור 2.0</a>
          <div class="nav-collapse collapse">
            <form class="navbar-search pull-right nav" action="/search">
			  <input type="text" class="search-query" name="q" placeholder="חפש אמנים, אלבומים, או כותבים">
			  <button class="btn btn-success" type="submit">חפש</button>
			</form>
            <ul class="nav">
              <li<%if (controller=="home") {%>
			    class="active"<%}%>>
			  <a href="/">ביקורות</a></li>
              <li<%if (controller=="writers") {%>
			    class="active"<%}%>>
				<a href="/writers">כותבים</a></li>
              <li<%if (controller=="about") {%>
			    class="active"<%}%>>
				<a href="/about">מי אנחנו</a></li>
            </ul>			
          </div><!--/.nav-collapse -->		  
        </div>
      </div>
    </div>	
	<%- body %>
  </body>  
  <hr>
  <footer dir="ltr" align="center">Blind Janitor 2013, Powered by <a href="http://twitter.github.com/bootstrap">Bootstrap</a> and <a href="http://nodejs.org">node.js</a></footer>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery-1.9.1.min.js"></script>
  <script src="/js/bootstrap-alert.js"></script>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39513377-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
</html>